<h1>Task Details</h1>
<p>
  Title:
  <%= @task.title %>
</p>
<p>
  Description:
  <%= @task.description %>
</p>
<p>
  Due Date:
  <%= @task.due_date %>
</p>
<p>
  Tags:
  <%= @task.tags %>
</p>
<p>
  Title:
  <%= @task.title %>
</p>
